@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/* Paleta de colores */
/* Tipo de letra */
body {
  background-color: #f4f4f9ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
}

header {
  background-color: #000000ff;
  flex: 0 0 auto; }


.flexNavBar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center; 
}

.logo {
  width: 250px;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  color: #f4f4f9ff;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.logo a {
  text-decoration: none;
  color: #f4f4f9ff; 
}

.logoImagen {
  width: 45px;
  height: 45px;
  margin: 5px; 
}

.navBar {
  list-style-type: none;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  color: #f4f4f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap; 
}
  
.navBar li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px; 
}

.navBar li button {
  width: 120px;
}

.navBar li a {
  list-style-type: none;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  color: #f4f4f9ff;
  white-space: nowrap;
  text-align: center; 
}

.navBar li a:hover {
  color: #b8dbd9ff;
  font-size: 27px; 
}

.carritoNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 65px;
  height: 36px;
  background-color: #f4f4f9ff;
  border-radius: 10px;
}

.carritoNav:hover {
  background-color: #b8dbd9ff;
}

.carritoNav a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carritoNav a img {
  height: 25px;
  margin: 5px;
  margin-right: 5px;
}

.cantidadCarrito {
  color: #000000ff;
  margin: 2px;
  font-size: 23px;
}

.banner {
  height: 210px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.banner img {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.brandBar {
  list-style: none;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}
.brandBar li {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.brandBar li a {
  padding: 3px; 
}

.brandImg {
  width: 60px;
  height: 30px; 
}

.brandImg:hover {
  transform: scale(1.2); 
}

.buttons {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  padding: 20px;
}

.buttons .cardButton {
  width: 150px;
  height: 50px;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botonesCarrito {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.botonesCarrito .cardButton {
  width: 200px;
  border-radius: 15px;
  margin-top: 40px;
}

#modoOscuro {
  border-radius: 10px;
}

#modoClaro {
  border-radius: 10px;
}

#carritoClear {
  background-color: #e63e3e;
}

#confirmarCompra {
  background-color: chartreuse;
}


main {
  padding: 5px;
  padding-bottom: 50px;
  flex: 1 1 auto; 
}

h1 {
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.tituloPrincipal {
  color: #000000ff;
}

h2 {
  font-family: "Bebas Neue", cursive;
  color: #000000ff;
  font-size: 23px; 
}

strong {
  color: #e63e3e; 
}

.navBarBoot {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  white-space: nowrap; 
}

.navBarBoot nav a:hover {
  color: #b8dbd9ff;
  font-size: 27px; 
}

.navBarBoot ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%; 
}

.navBarBoot a {
  text-decoration: none;
  color: #f4f4f9ff; 
}

.logoBoot {
  font-size: 25px; }

.qh1 {
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold; }

.footerBoot {
  margin: 0px;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  color: #b8dbd9ff; }
  .footerBoot ul {
    padding: 0;
    margin: 0; }

.footerBootLista {
  list-style: none;
  font-size: 16px;
  color: #f4f4f9ff;
  white-space: nowrap; }
  .footerBootLista a {
    text-decoration: none;
    color: #f4f4f9ff; }

.footerBootTitulo p {
  margin-bottom: 5px;
  margin-top: 10px; }

.footerBootLista a:hover {
  color: #b8dbd9ff; }

.footerBootLista li:hover {
  transform: scale(1.05); }

.cardFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 200px;
  margin-right: 200px; }

.card {
  background-color: white;
  width: 260px;
  height: 350px;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.card:hover {
  transform: scale(1.05); }

.cardImg {
  text-align: center;
  padding: 1px;
  width: 250px;
  height: 200px; }


.cardImg img {
  width: 175px;
  height: 195px;
}

.cardText {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  color: #2f4550ff;
  text-align: center;
  margin: 6px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }

.cardPrice {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  color: #000000ff;
  text-align: center;
  margin: 6px; }

.cardButton {
  font-family: "Bebas Neue", cursive;
  background-color: #b8dbd9ff;
  color: #000000ff;
  font-size: 20px;
  width: 100px;
  height: 30px;
  border-radius: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardCarrito {
  font-family: "Bebas Neue", cursive;
  background-color: #b8dbd9ff;
  color: #000000ff;
  font-size: 20px;
  width: 170px;
  height: 30px;
  border-radius: 5%;
  border-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardCarrito:hover {
  background-color: #e63e3e;
  transform: scale(1.03);
}

#carritoText {
  width: 300px;
  text-align: left;
  font-size: 17px;
}

#carritoPrice {
  width: 130px
}

#totalCarritoText {
  font-family: "Bebas Neue", cursive;
  width: 200px;
  text-align: left;
  font-size: 25px;
}

#totalCarritoVacio {
  font-family: "Bebas Neue", cursive;
  width: 200px;
  text-align: center;
  font-size: 25px;
}

#totalCarritoPrice {
  width: 130px;
  color: #e63e3e;
}

#totalCarritoPrice a {
  font-size: 18px;
  text-decoration: none;
  width: 130px;
  color: #e63e3e;
}

#totalCarrito {
  margin-top: 30px;
}

#vaciarMensajes {
  font-size: 15px;
  height: 20px;
  width: 180px;
}

.cardCarritoButton {
  font-family: "Bebas Neue", cursive;
  background-color: #b8dbd9ff;
  color: #000000ff;
  font-size: 20px;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  border-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardCarritoButton:hover {
  background-color: #e63e3e;
  transform: scale(1.03);
}

.cardButton:hover {
  background-color: #e63e3e;
  transform: scale(1.03); }

.cardButton a {
  text-decoration: none;
  color: #000000ff; }


/* Estilos de las cards del carrito */
.cardFlexCarrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: no-wrap;
}

.cardHorizontal {
  background-color: white;
  width: 690px;
  height: 50px;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
}


.productBoxFlex {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
  margin-left: 200px;
  margin-right: 200px; }

.productBox div {
  margin: 10px;
  width: 300px;
  height: 300px;
  text-align: center; }

.productBox:hover {
  transform: scale(1.05); }

.productBox div p {
  font-family: "Bebas Neue", cursive;
  font-size: 30px; }

.qText p {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  color: #2f4550ff;
  text-align: justify; }

.qText img {
  margin: 10px;
  width: 100%; }

.contactFlex {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px; }

.contactBox {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px; }

.contactInfo p {
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  color: #2f4550ff;
  margin: 10px;
  margin-bottom: 10px;
  text-align: center; }

.contactForm {
  font-family: "Bebas Neue", cursive;
  color: #000000ff;
  margin: 10px;
  width: 600px; }
  .contactForm form h2 {
    font-family: "Bebas Neue", cursive;
    color: #000000ff; }
  .contactForm form input, .contactForm form .consulta {
    font-family: "Oswald", sans-serif;
    color: #000000ff;
    background-color: #d4d4da;
    font-size: 15px;
    width: 600px;
    margin-top: 5px;
    margin-bottom: 5px; }
  .contactForm form .consulta {
    height: 400px;
    text-align: start; }
  .contactForm form .buttonForm {
    width: 90px;
    height: 27px;
    border-radius: 5px;
    background-color: #d4d4da; }

.contactForm form .buttonForm:hover {
  background-color: #e63e3e;
}

.map {
  border-style: solid;
  border-color: #000000ff; }


/* Utiliza el mismo CSS que productos. */
/* Utiliza el mismo CSS que 'index' */
.product {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 1fr;
  grid-template-areas: ". productPhoto productSpecs ."; }

.productSpecs {
  grid-area: productSpecs;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.productPhoto {
  margin: 10px;
  margin-right: 40px;
  grid-area: productPhoto;
  display: flex;
  justify-content: right; }

.productTitle {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  margin-bottom: 10px; }

.productSubtitle {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  width: 90%;
  color: #2f4550ff;
  margin-bottom: 10px; }

.productFlex {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px; }

.productPrice {
  font-family: "Bebas Neue", cursive;
  color: red;
  font-size: 30px;
  width: 100px; }

.productButton {
  font-family: "Bebas Neue", cursive;
  background-color: #b8dbd9ff;
  color: #000000ff;
  font-size: 30px;
  width: 100px;
  height: 40px;
  border-radius: 5%;
  margin-left: 10px;
  text-align: center;
  text-decoration: none; }
  .productButton:hover {
    background-color: #e63e3e;
    transform: scale(1.03); }
  .productButton a {
    text-decoration: none;
    color: #000000ff; }

.productSpecsTitle {
  font-family: "Bebas Neue", cursive;
  color: #000000ff;
  font-size: 25px; }

.productSpecsBody {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: #2f4550ff;
  margin-bottom: 20px; }

footer {
  background-color: #000000ff;
  font-family: "Bebas Neue", cursive;
  flex: 0 0 auto; }

.footerBoxFlex {
  background-color: #000000ff;
  width: 100%;
  height: 100px;
  padding: 3px;
  display: grid;
  grid-template-columns: 20% repeat(3, 1fr) 20%;
  grid-template-rows: 1fr;
  grid-template-areas: ". footerBox1 footerBox2 footerBox3 .";
  justify-content: center;
  align-items: center;
  gap: 10px; }

.footerBox1 {
  grid-area: footerBox1; }

.footerBox2 {
  grid-area: footerBox2; }

.footerBox3 {
  grid-area: footerBox3; }

.footerBox {
  background-color: #000000ff;
  font-family: "Bebas Neue", cursive;
  margin: 10px;
  text-align: center; }

.footerBoxTitulo {
  color: #b8dbd9ff;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
  white-space: nowrap; }

.footerBoxLista ul li {
  list-style: none;
  text-decoration: none;
  color: #f4f4f9ff;
  text-align: center;
  white-space: nowrap; }
  .footerBoxLista ul li a {
    list-style: none;
    text-decoration: none;
    color: #f4f4f9ff;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center; }
    .footerBoxLista ul li a img {
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center; }

.footerBoxListaUL, .footerBoxListaUL li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .footerBoxListaUL li a:hover {
    color: #b8dbd9ff;
    transform: scale(1.05); }

#inputProducto {
  width: 300px;
  height: 40px;
  margin: 10px;
  font-size: 25px;
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  border-radius: 10px;
  padding: 7px;
}

#inputCategoria {
  width: 300px;
  height: 40px;
  margin: 10px;
  font-size: 25px;
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  border-radius: 10px;
  padding: 7px;
}

#buscadorProducto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#buscadorCategoria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}


/* MEDIA QUERYS */

@media (max-width: 1500px) {
  .cardFlex {
    margin-left: 0px;
    margin-right: 0px; } 
}

@media (max-width: 768px) {
  .cardFlex {
    margin-left: 0px;
    margin-right: 0px; }

  .footerBoxFlex {
    gap: 25px; }

  .product {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "productPhoto" "productSpecs"; }

  .productPhoto {
    margin: 10px;
    margin-right: 0px;
    justify-content: center;
    width: 100%; }

  .productSpecs {
    justify-content: center;
    margin: 20px;
    width: 100%; }

  .productSubtitle {
    width: 90%; 
  } 
}

@media (max-width: 576px) {
  /* HEADER */

  .navBar li {
    width: 100%; }
  .logo {
    width: 100%;
    border-style: solid;
    border-top: #000000ff;
    border-left: #000000ff;
    border-right: #000000ff;
    margin-bottom: 10px; }
  .brandBar, .banner {
    display: none; }

  /* CARDS */
  .cardFlex {
    margin-left: 40px;
    margin-right: 40px; }
  .productBoxFlex {
    margin-left: 0px;
    margin-right: 0px; }

  /* FORM */
  .contactFlex {
    margin: 0px;
    flex-direction: column;
    justify-content: center; }
  .contactForm {
    width: 100%; }
    .contactForm form input, .contactForm form .consulta, .contactForm form .consulta {
      width: 100%; }
  .contactBox {
    margin: 10px; }
    .contactBox iframe {
      width: 100%; }

  /* Producto */
  .product {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "productPhoto" "productSpecs"; }
  .productPhoto {
    margin: 10px;
    margin-right: 0px;
    justify-content: center;
    width: 100%; }
  .productSpecs {
    justify-content: center;
    margin: 20px;
    width: 100%; }
  .productSubtitle {
    width: 90%; }

  /* FOOTER */
  .footerBoxFlex {
    height: 300px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "footerBox1" "footerBox2" "footerBox3"; } 

  .swiper {
    display: none;
  }

  .swiper-slide {
    display:none;
  }

  .swiper-slide img {
    display: none;
  }

  .buttons {
    flex-direction: column;
    padding: 0px;
  }

  .buttons .cardButton {
    margin: 5px;
    width: 80%;
    height: 40px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardFlexCarrito {
    flex-direction: column;
  }

  .cardText {
    height: 40px;
    margin: 0px;
    font-size: 18px;
  }

  #carritoPrice {
    height: 40px;
    justify-content: center;
    align-items: center;
  }

  .cardHorizontal {
    background-color: white;
    width: 300px;
    height: 150px;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }

  #carritoText {
    width: 280px;
    text-align: center;
  }
  
  #carritoPrice {
    width: 280px
  }
  
  #totalCarritoText {
    font-family: "Bebas Neue", cursive;
    width: 280px;
    text-align: center;
    font-size: 30px;
  }
  
  #totalCarritoVacio {
    font-family: "Bebas Neue", cursive;
    width: 280px;
    text-align: center;
    font-size: 25px;
  }
  
  #totalCarritoPrice {
    width: 280px;
    color: #e63e3e;
    font-size: 40px;
  }
  
  #totalCarritoPrice a {
    font-size: 18px;
    text-decoration: none;
    width: 280px;
    color: #e63e3e;
  }
  
  #totalCarrito {
    margin-top: 30px;
  }

  #totalCarritoText {
    width: 280px;
    text-align: center;
    justify-content: center;
  }
  
  .botonesCarrito {
    flex-direction: column;
    padding: 10px;
  }

  #confirmarCompra {
    margin-top: 0px;
    margin: 5px;
  }

  #carritoClear {
    margin-top: 0px;
    margin: 5px;
  }

}

.link {
  text-decoration: none;
}